{% extends 'base.html' %}
 {% block content %}
        <h1>Blog says...</h1>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <li>{{ category.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        {% if posts %}
            <ul>
                {% for post in posts %}
                <li>{{ post.title }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no posts present.</strong>
        {% endif %}
        {% if user.is_authenticated %}
<h1>Janus says... hello {{ user.username }}!</h1>
{% else %}
<h1>Janus says... hello world!</h1>
{% endif %}
        <div id="postslist">
                {% for post in posts %}
                <p><a href="/blog/posts/{{ post.slug }}/">{{ post.title }}</a></p>
                {% endfor %}
        </div>
 {% endblock %}
